<section class="img-heading bg-strip gstartup">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <img src="/images/appAttack_logo.png" alt="appAttack" style="width: 200px">
        <p class="text-lead">New York</p>
        <p class="text-lead">The Mobile 2.0 Competition for the Latest and Greatest Apps in Improving Customer Experience</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>appAttack New York provides a stage for developers to showcase their latest and greatest mobile apps. We are calling all app developers around the world who have created fresh, innovative apps that elevate the customer experience who would like to get more exposure to the global market. This year, we are extremely interested in bringing in all kinds of mobile, tablets, wearable and other connected device apps that fall under categories such as:</p>
        <ul>
          <li>Mobile Retail</li>
          <li>Push Notifications and Mobile Touchpoints</li>
          <li>Omnichannel</li>
          <li>In-app Inboxes</li>
          <li>Millennial Apps</li>
        </ul>
        <p>appAttack New York will act like the <strong>offline, cross-platform app store</strong> where potential clients, fans, distributors, VCs, and media can discover some of the coolest apps.</p>
        <p><strong>appAttack New York provides the unique chance for participating developers to CONNECT, LEARN and PROMOTE</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="color-spacegrey">Details to the competition:</h4>
        <ul>
          <li>Submit your app via our online submission powered by App Circus</li>
          <li>Connect with VCs, Experts, seasoned entrepreneurs and developers, and other peers</li>
          <li>The six (6) selected semi-finalists will have an opportunity to promote their app on stage at the live GMIC New York appAttack Competition </li>
          <li>One finalist will be selected and announced. The finalist will receive a $2,500 cash prize, complimentary VIP pass into GMIC Silicon Valley held in San Francisco Sept. 28-30 and their app entered into the Mobile Premiere Awards 2016 held at Mobile World Congress in Barcelona.</li>
        </ul>
        <ul class="list-unstyled text-small">
          <li>* All contestant will receive a complimentary VIP pass into GMIC New York</li>
          <li>** All semi-finalists will receive two (2) complimentary passes into GMIC New York and a 20% discount code for additional pass purchase</li>
        </ul>
        <p class="text-center"><a href="http://appcircus.com/event/appattack" class="btn btn-primary btn-lg" role="button">Submit Your App</a></p>
      </div>
    </div>
  </div>
</section>
