<section class="img-heading bg-strip gstartup">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <a href="http://appcircus.com/event/appattack" onclick="ga('send','event','Outgoing Links','http://appcircus.com/event/appattack')" target="_blank"><img src="/images/appAttack_logo.png" alt="appAttack" style="width: 200px"></a>
        <p class="text-lead">New York</p>
        <p class="text-lead">The Mobile 2.0 Competition for the Latest and Greatest Apps in Improving Customer Experience</p>
      </div>
    </div>
  </div>
</section>
<section class="bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center apps">
        <h4 class="text-thin color-spacegrey">Congratulations to the Winner</h4>
        <a href="http://appcircus.com/apps/guide-central" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/guide-central')">
          <div class="icon winner">
            <img class="img-responsive center-block" src="/images/appattack/guidecentral.png">
          </div>
          <div class="app winner">
            <div class="app-name">Guidecentral</div>
            <p>
              Leading mobile app for Makers &amp; DIY fans. Learn new projects and earn revenue sharing your creations.
            </p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 apps">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="text-thin color-spacegrey">Semi-Finalists</h4>
          </div>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/buynow" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/buynow')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/buynow.jpeg">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">BuyNow</div>
              <p>
                BuyNow enables consumers to instantly purchase products from any multimedia, simply by sending a Tweet or a Text Message.
              </p>
            </div>
          </a>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/freshdirect-ipad-app-by-door3" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/freshdirect-ipad-app-by-door3')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/freshdirect.jpeg">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">FreshDirect for iPad</div>
              <p>
                FreshDirect is a leading online fresh food grocer in the U.S., delivering premium quality fresh-from-the-farm foods and brand-name groceries directly to the doors of customers.
              </p>
            </div>
          </a>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/guide-central" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/guide-central')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/guidecentral.png">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">Guidecentral</div>
              <p>
                Leading mobile app for Makers &amp; DIY fans. Learn new projects and earn revenue sharing your creations.
              </p>
            </div>
          </a>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/liquidtalent" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/liquidtalent')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/liquidtalent.jpg">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">LiquidTalent</div>
              <p>
                LiquidTalent is a new-generation mobile job platform revolutionizing the way professionals match and hire.
              </p>
            </div>
          </a>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/roomkey" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/roomkey')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/roomkey.jpeg">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">RoomKey</div>
              <p>
                RoomKey is a native hotel app that allows travelers to control their entire hotel stay from their mobile device, including selecting your own room prior to arrival and bypass front desk check-in lines by using your smartphone as your room key.
              </p>
            </div>
          </a>
        </div>
        <div class="row app-box">
          <a href="http://appcircus.com/apps/smacktive" onclick="ga('send','event','Outgoing Links','http://appcircus.com/apps/smacktive')">
            <div class="col-sm-4 icon">
              <img class="img-responsive" src="/images/appattack/smacktive.jpeg">
            </div>
            <div class="col-sm-8 app">
              <div class="app-name">Smacktive</div>
              <p>
                Smacktive helps you create new, meaningful friendships while doing the sports, gym, fitness, table games or any other activity you love to participate in.
              </p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-4 judges">
        <div class="row">
          <div class="col-xs-12">
            <h4 class="text-thin color-spacegrey">Judges</h4>
          </div>
          <div class="col-xs-12 judge-box">
            <div class="photo">
              <img src="/images/speakers/gary-davis.jpg" alt="Gary Davis" class="img-responsive shadow-accent">
            </div>
            <div class="judge">
              <div class="judge-name">Gary Davis</div>
              <div class="judge-title">Chief Consumer Security Evangelist</div>
              <div class="judge-company color-spacegrey">Intel Security</div>
            </div>
          </div>
          <div class="col-xs-12 judge-box">
            <div class="photo">
              <img src="/images/speakers/yev-galper.jpg" alt="Yev Galper" class="img-responsive shadow-accent">
            </div>
            <div class="judge">
              <div class="judge-name">Yev Galper</div>
              <div class="judge-title">Head of Mobile Competency Center</div>
              <div class="judge-company color-spacegrey">EPAM</div>
            </div>
          </div>
          <div class="col-xs-12 judge-box">
            <div class="photo">
              <img src="/images/speakers/alyssa-meritt.jpg" alt="Alyssa Meritt" class="img-responsive shadow-accent">
            </div>
            <div class="judge">
              <div class="judge-name">Alyssa Meritt</div>
              <div class="judge-title">Head of Strategic Consulting</div>
              <div class="judge-company color-spacegrey">Urban Airship</div>
            </div>
          </div>
          <div class="col-xs-12 judge-box">
            <div class="photo">
              <img src="/images/speakers/ariel-michaeli.jpg" alt="Ariel Michaeli" class="img-responsive shadow-accent">
            </div>
            <div class="judge">
              <div class="judge-name">Ariel Michaeli</div>
              <div class="judge-title">Founder &amp; CEO</div>
              <div class="judge-company color-spacegrey">appFigures</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-thin color-spacegrey">About</h4>
        <p>appAttack New York provides a stage for developers to showcase their latest and greatest mobile apps. We are calling all app developers around the world who have created fresh, innovative apps that elevate the customer experience who would like to get more exposure to the global market. This year, we are extremely interested in bringing in all kinds of mobile, tablets, wearable and other connected device apps that fall under categories such as:</p>
        <ul>
          <li>Mobile Retail</li>
          <li>Push Notifications and Mobile Touchpoints</li>
          <li>Omnichannel</li>
          <li>In-app Inboxes</li>
          <li>Millennial Apps</li>
        </ul>
        <p>appAttack New York will act like the <strong>offline, cross-platform app store</strong> where potential clients, fans, distributors, VCs, and media can discover some of the coolest apps.</p>
        <p><strong>appAttack New York provides the unique chance for participating developers to CONNECT, LEARN and PROMOTE</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h4 class="text-thin color-spacegrey">Details to the competition:</h4>
        <ul>
          <li>Submit your app via our online submission powered by App Circus</li>
          <li>Connect with VCs, Experts, seasoned entrepreneurs and developers, and other peers</li>
          <li>The six (6) selected semi-finalists will have an opportunity to promote their app on stage at the live GMIC New York appAttack Competition </li>
          <li>One finalist will be selected and announced. The finalist will receive a $2,500 cash prize, complimentary VIP pass into GMIC Silicon Valley held in San Francisco Sept. 28-30 and their app entered into the Mobile Premiere Awards 2016 held at Mobile World Congress in Barcelona.</li>
        </ul>
        <ul class="list-unstyled text-small">
          <li>* All contestant will receive a complimentary VIP pass into GMIC New York</li>
          <li>** All semi-finalists will receive two (2) complimentary passes into GMIC New York and a 20% discount code for additional pass purchase</li>
        </ul>
        <p class="text-center"><a href="http://appcircus.com/event/appattack"  onclick="ga('send','event','Outgoing Links','http://appcircus.com/event/appattack')" target="_blank" class="btn btn-primary btn-lg outline" role="button">View Details</a></p>
      </div>
    </div>
  </div>
</section>
