<section class="img-heading bg-strip gstartup">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <img src="images/gstartup_logo.png" alt="G-Startup">
        <p class="text-lead">The G-Startup competition is the global platform for innovative mobile Internet startups and the leading launch pad connecting them to the international investor community to grow and succeed globally.</p>
      </div>
    </div>
  </div>
</section>
<section id="gstartup-apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="wufoo-z1knyozq018d7fp">
          Fill out my <a href="https://gmic.wufoo.com/forms/z1knyozq018d7fp">online form</a>.
        </div>
        <script type="text/javascript">var z1knyozq018d7fp;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'gmic',
          'formHash':'z1knyozq018d7fp',
          'autoResize':true,
          'height':'2135',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z1knyozq018d7fp = new WufooForm();z1knyozq018d7fp.initialize(options);z1knyozq018d7fp.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div>
    </div>
  </div>
</section>
