<section class="img-heading bg-strip gstartup">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <img src="images/gstartup_logo.png" alt="G-Startup">
        <p class="text-lead">The G-Startup competition is the global platform for innovative mobile Internet startups and the leading launch pad connecting them to the international investor community to grow and succeed globally.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4 class="color-spacegrey">Prize</h4>
        <h5 class="color-primary">Winner</h5>
        <ul>
          <li>Winner receives one (1) demo booth at GMIC SV 2015 (valued at $1,500 USD)</li>
          <li>Winner receives two (2) complimentary Gold conference passes to attend GMIC SV 2015 (valued at $1,500 USD)</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4 class="color-spacegrey">Guidelines</h4>
        <ul>
          <li>Startup founded on/after August 2011</li>
          <li>Startup has not secured more than $1M USD funding</li>
          <li>Startup can be headquartered internationally</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="participants" class="bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="color-spacegrey text-center">Previous Participants</h4>
      </div>
      <div class="col-xs-12 col-sm-3">
        <img src="/images/gstartup/stemp.png" alt="STEMP" class="img-responsive img-center">
      </div>
      <div class="col-xs-12 col-sm-3">
        <img src="/images/gstartup/foodloop.png" alt="Food Loop" class="img-responsive img-center">
      </div>
      <div class="col-xs-12 col-sm-3">
        <img src="/images/gstartup/opengarden.png" alt="Open Garden" class="img-responsive img-center">
      </div>
      <div class="col-xs-12 col-sm-3">
        <img src="/images/gstartup/appannie.png" alt="App Annie" class="img-responsive img-center">
      </div>
    </div>
  </div>
</section>
<section id="gstartup-apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="wufoo-z1knyozq018d7fp">
          Fill out my <a href="https://gmic.wufoo.com/forms/z1knyozq018d7fp">online form</a>.
        </div>
        <script type="text/javascript">var z1knyozq018d7fp;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'gmic',
          'formHash':'z1knyozq018d7fp',
          'autoResize':true,
          'height':'2135',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { z1knyozq018d7fp = new WufooForm();z1knyozq018d7fp.initialize(options);z1knyozq018d7fp.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div>
    </div>
  </div>
</section>
