<div class="col-xs-12 col-sm-6">
  <ul class="color-primary">
    <li ng-repeat="topic in topics" ng-mouseover="hoverTopic()" ng-click="hoverTopic()" class="topic topic-{{ topic.topicId }}">
      <h4 class="text-thin color-default" ng-bind="topic.title" ng-class="{'color-primary': $first}"></h4>
      <div ng-if="this.topic == currentTopic" class="color-spacegrey visible-xs-block">{{ topic.desc }}</div>
    </li>
  </ul>
  <p class="text-center">
    <a href="/topics" class="btn btn-primary outline" role="button">Learn More</a>
  </p>
</div>
<div class="col-sm-6 hidden-xs" ng-show="currentTopic">
  <div class="text-center">
    <span class="fa-stack fa-3x" aria-hidden="true">
      <i class="fa fa-circle fa-stack-2x color-primary" aria-hidden="true"></i>
      <i class="fa fa-{{ currentTopic.icon }} fa-stack-1x color-white" aria-hidden="true"></i>
    </span>
  </div>
  <div class="color-spacegrey">
    {{ currentTopic.desc }}
  </div>
</div>
