<section class="bg-strip jumbotron">
  <div class="container">
    <img class="img-responsive logo-lg" src="images/gmicnyc_logo_large.png" alt="GMIC NYC">
  </div>
</section>
<section class="venue">
  <div class="container">
    <h4 class="no-vmg text-thin">Pier Sixty at Chelsea Piers</h4>
  </div>
</section>
<section id="marketing" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="color-primary text-thin">Mobile: All About the Customer Experience</h2>
        <p>The world’s most influential conference on mobile comes to New York City on June 11th.  From Beijing to San Francisco and Tokyo to Bangalore, GMIC is the where the mobile community gathers to learn about the latest innovations and connect with industry thought leaders.</p>
        <p>Creating a deeper engagement with your customers via mobile is key. GMIC New York will address the unique challenges and opportunities that brands using mobile experience everyday. Come explore the future of mobile for entertainment, retail, media, brands, agencies and consumer products to get a clear perspective on how to optimize the mobile customer experience.</p>
      </div>
      <div class="col-md-4">
        <a href="/passes-prices" class="callout-box">
          <div class="primary">
            <h5>Register Now <i class="icon fa fa-chevron-circle-right" aria-hidden="true"></i></h5>
            <p>
              Onsite registration opens at 8:30am on June 11
            </p>
          </div>
        </a>
        <a href="/competition" class="callout-box">
          <div class="accent">
            <h5>appAttack New York <i class="icon fa fa-chevron-circle-right" aria-hidden="true"></i></h5>
            <p>The Mobile 2.0 competition for the latest and greatest apps in improving customer experience. See the 6 semi-finalists</p>
          </div>
        </a>
        <div class="modal fade" id="contact-sales" tabindex="-1" role="dialog" aria-labelledby="contact-sales-label" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title color-primary" id="contact-sales-label">Contact Sales</h4>
              </div>
              <div class="modal-body">
                <p class="text-center"><a href="/downloads/gmicny-prospectus-latest.pdf" target="_blank" onclick="ga('send','event','Outgoing Links','/downloads/gmicny-prospectus-latest.pdf')" class="btn btn-primary btn-sm outline" role="button">Download Prospectus</a></p>
                <iframe src="http://www2.gwc.net/l/69692/2015-03-31/7dsh" width="100%" height="400" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="images/photo_crowd.jpg" alt="GMIC Crowd" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Who Should Attend</h4>
        <p>Digital Strategists, Marketers, CX Directors, Brand Managers, Advertising Executives, Agencies, Merchandisers and technology professionals who are leading their organizations' mobile strategy</p>
      </div>
      <div class="col-sm-4">
        <img src="images/photo_speaking.jpg" alt="GMIC Speaking" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Why Attend</h4>
        <p>You'll learn how to harness the power of mobile to strengthen brand loyalty, increase customer engagement and deliver personalized customer experiences.</p>
      </div>
      <div class="col-sm-4">
        <img src="images/photo_stage.jpg" alt="GMIC Stage" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Speakers</h4>
        <p><a href="/speakers">GMIC New York speakers</a> are market-disrupting leaders who’ve had remarkable success capitalizing on mobile.</p>
      </div>
    </div>
  </div>
</section>
<section id="topics">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center text-thin color-spacegrey">In New York We'll Discuss...</h3>
      </div>
      <div class="spinner-page" ng-if="!loaded">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <span ng-repeat="topic in topics" class="repeat-fade">
        <div class="col-sm-6 col-md-4">
          <div class="text-center">
            <a href="/topics"><span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x color-primary" aria-hidden="true"></i>
                <i class="fa fa-{{ topic.Icon }} fa-stack-1x color-white" aria-hidden="true"></i>
              </span></a>
          </div>
          <h4 class="text-center text-thin color-spacegrey" ng-bind="topic.Title"></h4>
        </div>
        <div class="clearfix visible-sm-block" ng-if="$index % 2 == 1"></div>
        <div class="clearfix visible-md-block visible-lg-block" ng-if="$index % 3 == 2"></div>
      </span>
    </div>
  </div>
</section>
<section id="location" class="location bg-accent">
  <div class="container-fluid">
    <div class="row">
        <leaflet id="map" defaults="defaults" center="center" markers="markers"></leaflet>
    </div>
  </div>
</section>
<section id="speakers" class="speakers-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center text-thin color-spacegrey">Confirmed Speakers Include</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/tim-chang.jpg" alt="Tim Chang" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Tim Chang</div>
          <div class="speaker-title">Managing Director</div>
          <div class="speaker-company">Mayfield</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/calvin-chan.jpg" alt="Calvin Chan" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Calvin Chan</div>
          <div class="speaker-title">Chief Operating Officer</div>
          <div class="speaker-company">AdMaster</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/bianca-chen.jpg" alt="Bianca Chen" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Bianca Chen</div>
          <div class="speaker-title">Finance Correspondent</div>
          <div class="speaker-company">Thomson Reuters</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/gary-davis.jpg" alt="Gary Davis" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Gary Davis</div>
          <div class="speaker-title">Chief Consumer Security Evangelist</div>
          <div class="speaker-company">Intel Security</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/dan-herman.jpg" alt="Dan Herman" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Dan Herman</div>
          <div class="speaker-title">Founder &amp; CEO</div>
          <div class="speaker-company">ChatID</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/ryan-matzner.jpg" alt="Ryan Matzner" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Ryan Matzner</div>
          <div class="speaker-title">Director &amp; Chief Strategist</div>
          <div class="speaker-company">Fueled</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/alyssa-meritt.jpg" alt="Alyssa Meritt" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Alyssa Meritt</div>
          <div class="speaker-title">Head of Strategic Consulting</div>
          <div class="speaker-company">Urban Airship</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/teal-newland.jpg" alt="Teal Newland" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Teal Newland</div>
          <div class="speaker-title">VP of Marketing, Revenue, Partnerships</div>
          <div class="speaker-company">StumbleUpon</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/jenna-owens.jpg" alt="Jenna Owens" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Jenna Owens</div>
          <div class="speaker-title">GM Operations</div>
          <div class="speaker-company">Google Shopping Express</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/matt-restivo.jpg" alt="Matt Restivo" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Matt Restivo</div>
          <div class="speaker-title">Director of Product Development</div>
          <div class="speaker-company">NHL</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/sonny-vu.jpg" alt="Sonny Vu" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Sonny Vu</div>
          <div class="speaker-title">Founder, CEO</div>
          <div class="speaker-company">Misfit</div>
        </div>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="/speakers"><img src="/images/speakers/bachir-zeroual.jpg" alt="Bachir Zeroual" class="img-responsive shadow-accent"></a>
        <div class="speaker-desc">
          <div class="speaker-name">Bachir Zeroual</div>
          <div class="speaker-title">Global Director, Marketing Ventures</div>
          <div class="speaker-company">The Coca-Cola Company</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 text-center">
        <a href="/speakers" class="btn btn-primary btn-lg outline" role="button">See All Speakers</a>
      </div>
    </div>
  </div>
</section>
<section id="sponsors" class="sponsors bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-thin text-center color-spacegrey">Sponsors</h3>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://bluestacks.com" target="_blank" onclick="ga('send','event','Outgoing Links','http://bluestacks.com')"><img src="/images/sponsors/sponsor-grid-bluestacks.png" alt="BlueStacks" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://branch.io" target="_blank" onclick="ga('send','event','Outgoing Links','http://branch.io')"><img src="/images/sponsors/sponsor-grid-branch.png" alt="Branch" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="https://kochava.com" target="_blank" onclick="ga('send','event','Outgoing Links','https://kochava.com')"><img src="/images/sponsors/sponsor-grid-kochava.png" alt="Kochava" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://pocketmath.com" target="_blank" onclick="ga('send','event','Outgoing Links','http://pocketmath.com')"><img src="/images/sponsors/sponsor-grid-pocketmath.png" alt="Rumble" class="img-responsive center-block"></a>
      </div>
      <div class="col-xs-6 col-sm-2">
        <a href="http://rumble.me" target="_blank" onclick="ga('send','event','Outgoing Links','http://rumble.me')"><img src="/images/sponsors/sponsor-grid-rumble.png" alt="Rumble" class="img-responsive center-block"></a>
      </div>
    </div>
  </div>
</section>
<section id="advisory" class="speakers-home">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-thin text-center color-spacegrey">Advisors</h3>
      </div>
    </div>
    <div class="col-xs-6 col-sm-offset-3 col-sm-2">
      <a href="/speakers"><img src="/images/speakers/yev-galper.jpg" alt="Yev Galper" class="img-responsive shadow-accent"></a>
      <div class="speaker-desc">
        <div class="speaker-name">Yev Galper</div>
        <div class="speaker-title">Head of Mobile Competency Center</div>
        <div class="speaker-company">EPAM</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <a href="/speakers"><img src="/images/speakers/dan-herman.jpg" alt="Dan Herman" class="img-responsive shadow-accent"></a>
      <div class="speaker-desc">
        <div class="speaker-name">Dan Herman</div>
        <div class="speaker-title">Founder &amp; CEO</div>
        <div class="speaker-company">ChatID</div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-2">
      <a href="/speakers"><img src="/images/speakers/alyssa-meritt.jpg" alt="Alyssa Meritt" class="img-responsive shadow-accent"></a>
      <div class="speaker-desc">
        <div class="speaker-name">Alyssa Meritt</div>
        <div class="speaker-title">Head of Strategic Consulting</div>
        <div class="speaker-company">Urban Airship</div>
      </div>
    </div>
  </div>
</section>
<section id="partners" class="partners bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-thin text-center color-spacegrey">Partners</h3>
      </div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.appdevelopersalliance.org/" onclick="ga('send','event','Outgoing Links','http://www.appdevelopersalliance.org/')" target="_blank"><img src="/images/partners/partner-ada.png" alt="App Dev Alliance" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.mobilemarketer.com/" onclick="ga('send','event','Outgoing Links','http://www.mobilemarketer.com/')" target="_blank"><img src="/images/partners/partner-mobilemarketer.png" alt="Mobile Marketer" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.mmaglobal.com" onclick="ga('send','event','Outgoing Links','http://www.mmaglobal.com')" target="_blank"><img src="/images/partners/partner-mma.png" alt="Mobile Marketing Association" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.meetup.com/NYC-Chinese-Entrepreneurs-Organization/" onclick="ga('send','event','Outgoing Links','http://www.meetup.com/NYC-Chinese-Entrepreneurs-Organization/')" target="_blank"><img src="/images/partners/partner-nycceo.png" alt="NYCCEO" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.meetup.com/ny-tech" onclick="ga('send','event','Outgoing Links','http://www.meetup.com/ny-tech')" target="_blank"><img src="/images/partners/partner-nytech.png" alt="NY Tech Meetup" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://sanchengtv.com/" onclick="ga('send','event','Outgoing Links','http://sanchengtv.com/')" target="_blank"><img src="/images/partners/partner-ox3.png" alt="OX3" class="img-responsive center-block"></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.smartinsights.com/" onclick="ga('send','event','Outgoing Links','http://www.smartinsights.com/')" target="_blank"><img src="/images/partners/partner-smartinsights.png" alt="Smart Insights" class="img-responsive center-block"></img></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://svsian.com/" onclick="ga('send','event','Outgoing Links','http://svsian.com/')" target="_blank"><img src="/images/partners/partner-svsian.png" alt="SVSIAN" class="img-responsive center-block"></a></div>
      <div class="col-xs-4 col-sm-2"><a href="http://www.womeninwireless.org/" onclick="ga('send','event','Outgoing Links','http://www.womeninwireless.org/')" target="_blank"><img src="/images/partners/partner-wiw.png" alt="Women in Wireless" class="img-responsive center-block"></img></a></div>
    </div>
  </div>
</section>
<section id="gmics" class="gmics text-center">
  <div class="container">
    <div class="row">
      <h3 class="color-spacegrey text-center text-thin">GMIC Locations</h3>
      <div class="col-sm-3" ng-repeat="event in gmics">
        <div ng-if="event.url">
          <a ng-href="{{ event.url }}" ng-click="ga('send','event','Outgoing Links','{{ event.url }}')" target="_blank"><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
        <div ng-if="!event.url">
          <a><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
