<section class="bg-strip jumbotron">
  <div class="container">
    <img class="img-responsive logo-lg" src="images/gmicnyc_logo_large.png" alt="GMIC NYC">
  </div>
</section>
<section class="venue">
  <div class="container">
    <h4 class="no-vmg text-thin">Pier Sixty at Chelsea Piers</h4>
  </div>
</section>
<section id="marketing" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="color-primary text-thin">Mobile: All About the Customer Experience</h2>
        <p>The world’s most influential conference on mobile comes to New York City on June 11th.  From Beijing to San Francisco and Tokyo to Bangalore, GMIC is the where the mobile community gathers to learn about the latest innovations and connect with industry thought leaders.</p>
        <p>Creating a deeper engagement with your customers via mobile is key. GMIC New York will address the unique challenges and opportunities that brands using mobile experience everyday. Come explore the future of mobile for entertainment, retail, media, brands, agencies and consumer products to get a clear perspective on how to optimize the mobile customer experience.</p>
      </div>
      <div class="col-md-4">
        <a href="https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1" target="_blank" class="callout-box">
          <div class="primary">
            <h5>Register Now <i class="icon fa fa-chevron-circle-right" aria-hidden="true"></i></h5>
          </div>
        </a>
        <a class="callout-box" href="/speakers">
          <div class="accent">
            <h5>Call for Speakers <i class="icon fa fa-chevron-circle-right" aria-hidden="true"></i></h5>
            <p>Interested to join the conversation at GMIC New York as a speaker? We welcome proposals from industry leaders with big ideas in mobile.</p>
          </div>
        </a>
        <a data-toggle="modal" data-target="#contact-sales" class="callout-box" href="mailto:sean.raman@gwc.net">
          <div class="spacegrey">
            <h5>Exhibit or Sponsor <i class="icon fa fa-chevron-circle-right
" aria-hidden="true"></i></h5>
            <p>GMIC NYC offers a variety of sponsorship options to fit every budget</p>
          </div>
        </a>
        <div class="modal fade" id="contact-sales" tabindex="-1" role="dialog" aria-labelledby="contact-sales-label" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title color-primary" id="contact-sales-label">Contact Sales</h4>
              </div>
              <div class="modal-body">
                <iframe src="http://www2.gwc.net/l/69692/2015-03-31/7dsh" width="100%" height="400" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-lightgrey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <img src="images/photo_crowd.jpg" alt="GMIC Crowd" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Who Should Attend</h4>
        <p>Digital Strategists, Marketers, CX Directors, Brand Managers, Advertising Executives, Agencies, Merchandisers and technology professionals who are leading their organizations' mobile strategy</p>
      </div>
      <div class="col-sm-4">
        <img src="images/photo_speaking.jpg" alt="GMIC Speaking" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Why Attend</h4>
        <p>You'll learn how to harness the power of mobile to strengthen brand loyalty, increase customer engagement and deliver personalized customer experiences.</p>
      </div>
      <div class="col-sm-4">
        <img src="images/photo_stage.jpg" alt="GMIC Stage" class="img-responsive shadow-accent">
        <h4 class="color-spacegrey">Speakers</h4>
        <p>GMIC New York speakers are market-disrupting leaders who’ve had remarkable success capitalizing on mobile.</p>
      </div>
    </div>
  </div>
</section>
<section id="topics">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="text-center text-thin color-spacegrey">In New York We'll Discuss...</h3>
      </div>
      <span ng-repeat="topic in topics">
        <div class="col-sm-6 col-md-4">
          <div class="text-center">
            <a href="/topics"><span class="fa-stack fa-2x" aria-hidden="true">
                <i class="fa fa-circle fa-stack-2x color-primary" aria-hidden="true"></i>
                <i class="fa fa-{{ topic.icon }} fa-stack-1x color-white" aria-hidden="true"></i>
              </span></a>
          </div>
          <h4 class="text-center text-thin color-spacegrey" ng-bind="topic.title"></h4>
        </div>
        <div class="clearfix visible-sm-block" ng-if="$index % 2 == 1"></div>
        <div class="clearfix visible-md-block visible-lg-block" ng-if="$index % 3 == 2"></div>
      </span>
      <!-- <topic-highlight></topic-highlight> -->
    </div>
  </div>
</section>
<section id="location" class="location bg-accent">
  <div class="container-fluid">
    <div class="row">
        <leaflet id="map" defaults="defaults" center="center" markers="markers"></leaflet>
    </div>
  </div>
</section>
<section id="gmics" class="gmics text-center">
  <div class="container">
    <div class="row">
      <h3 class="color-spacegrey text-center text-thin">GMIC Locations</h3>
      <div class="col-sm-3" ng-repeat="event in gmics">
        <div ng-if="event.url">
          <a href="{{ event.url }}"><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
        <div ng-if="!event.url">
          <a><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
