<section class="bg-strip jumbotron">
  <div class="container">
    <img class="img-responsive logo-lg" src="images/gmicny_logo_large.png" alt="GMIC NYC">
  </div>
</section>
<section class="venue">
  <div class="container">
    <h4 class="no-vmg text-thin">Pier Sixty at Chelsea Piers</h4>
  </div>
</section>
<section id="marketing" class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="color-primary">Mobile: All About the Customer Experience</h3>
        <p>The world’s most influential conference on mobile comes to New York City on June 11th. From Beijing to San Francisco and Tokyo to Bangalore, GMIC has been the place for tech leaders to collaborate and educate global participants.</p>
        <p>A mobile world changes retail, payments, marketing and social infrastructures. At the center of the mobile experience sits the customer. Brands using mobile platforms and technologies to engage their base have discovered unique challenges and opportunities. Capitalizing on mobile through customer engagement is a key to success.</p>
        <p>At GMIC NYC, realign your mobile strategy to leapfrog the competition. Come explore the future of mobile for entertainment, retail, media, brands, agencies and consumer products to get a clear perspective on optimizing the mobile customer experience.</p>
        <!-- <p><a class="btn btn-primary" role="button">Register Now</a></p> -->
      </div>
      <div class="col-md-4 call-speakers">
        <h3 class="color-primary color-accent text-center">Call for Speakers</h3>
        <p>Interested to join the conversation at GMIC New York as a speaker? We welcome proposals from industry leaders with big ideas in mobile. Submit a proposal to speak here.</p>
        <p class="text-center"><a href="#/speakers" class="btn btn-accent btn-lg" role="button">Apply to Speak</a></p>
        <h3 class="color-primary color-primary text-center">Interested in Sponsoring?</h3>
        <p class="text-center"><a href="mailto:sean.raman@gwc.net" class="btn btn-primary btn-lg" role="button">Contact Us</a></p>
      </div>
    </div>
  </div>
</section>
<section id="location" class="location">
  <div class="container-fluid">
    <div class="row">
        <leaflet id="map" defaults="defaults" center="center" markers="markers"></leaflet>
    </div>
  </div>
</section>
<section id="gmics" class="gmics">
  <div class="container">
    <div class="row">
      <h3 class="color-primary text-center">GMIC Locations</h3>
      <div class="col-sm-3" ng-repeat="event in gmics">
        <div ng-if="event.url">
          <a href="{{ event.url }}"><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
        <div ng-if="!event.url">
          <a><img ng-src="{{ event.img }}" alt="{{ event.name }}"><h5>{{ event.city }}</h5><span class="text-thin">{{ event.date }}</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
