<div class="container">
  <div class="row">
    <div class="col-sm-offset-1-5 col-sm-3 text-center">
      <div class="price-col">
        <div class="pass-row shadow-accent">
          <h3 class="color-primary">Conference Pass</h3>
          <a href="https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1" class="btn btn-primary outline" onclick="ga('send','event','Outgoing Links','https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1')" role="button">Register</a>
        </div>
        <div class="price-row inactive expired">
          <div>Early Bird - ends May 15</div>
          <div class="price">$249</div>
        </div>
        <div class="price-row">
          <div>Advance</div>
          <div class="price">$299</div>
          <div>ends June 5</div>
        </div>
        <div class="price-row inactive">
          <div>Regular - ends June 6-11</div>
          <div class="price">$499</div>
        </div>
        <div class="benefits-row text-left">
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> All Conference Sessions</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Networking Reception</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Lunch</div>
          <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Lunch</div>
          <div><i class="fa fa-times-circle text-danger" aria-hidden="true"></i> VIP Lounge</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="price-col">
        <div class="pass-row shadow-accent">
          <h3 class="color-primary">VIP Pass</h3>
          <a href="https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1" class="btn btn-primary outline" onclick="ga('send','event','Outgoing Links','https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1')" role="button">Register</a>
        </div>
        <div class="price-row inactive expired">
          <div>Early Bird - ends May 15</div>
          <div class="price">$899</div>
        </div>
        <div class="price-row">
          <div>Advance</div>
          <div class="price">$999</div>
          <div>ends June 5</div>
        </div>
        <div class="price-row inactive">
          <div>Regular - ends June 6-11</div>
          <div class="price">$1,099</div>
        </div>
        <div class="benefits-row text-left">
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> All Conference Sessions</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Networking Reception</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Lunch</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Lunch</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Lounge</div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="price-col">
        <div class="pass-row shadow-accent">
          <h3 class="color-primary">Media Pass</h3>
          <a href="https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1&s3=press" class="btn btn-primary outline" onclick="ga('send','event','Outgoing Links','https://www.customreg.com/generalreg28/default.asp?show=gwc_gmic_062015&IDevent1=1&s3=press')" role="button">Apply</a>
        </div>
        <div class="benefits-row text-left text-small color-spacegrey">
          Media Passes are reserved for print, online and broadcast journalists with commercial news organizations and industry/financial analysts
        </div>
        <div class="benefits-row text-left">
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> All Conference Sessions</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Networking Reception</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> Lunch</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Lunch</div>
          <div><i class="fa fa-check-circle text-success" aria-hidden="true"></i> VIP Lounge</div>
        </div>
      </div>
    </div>
  </div>
</div>
