<section id="speakers">
  <div class="container">
    <div class="row">
      <h3 class="color-primary text-center">Speakers</h3>
      <ul class="list-unstyled speakers-grid">
        <li class="col-xs-6 col-sm-3" ng-repeat="speaker in speakers | orderBy: 'lastname'">
          <a role="button" ng-click="setDialog()">
            <div class="box shadow-accent">
              <img ng-src="{{ speaker.picture }}" alt="{{ speaker.firstname }} {{ speaker.lastname }}" class="img-responsive">
              <div class="caption">
                <h5>{{ speaker.firstname }} {{ speaker.lastname }}</h5>
                <div class="details">
                  {{ speaker.title }}, {{ speaker.company }}
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<speaker-expand></speaker-expand>
<section id="speakers-apply">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="wufoo-zpw9qt30kkaji6">
          Fill out my <a href="https://gmic.wufoo.com/forms/zpw9qt30kkaji6">online form</a>.
        </div>
        <script type="text/javascript">
          var zpw9qt30kkaji6;(function(d, t) {
          var s = d.createElement(t), options = {
          'userName':'gmic',
          'formHash':'zpw9qt30kkaji6',
          'autoResize':true,
          'height':'575',
          'async':true,
          'host':'wufoo.com',
          'header':'show',
          'ssl':true};
          s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
          s.onload = s.onreadystatechange = function() {
          var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
          try { zpw9qt30kkaji6 = new WufooForm();zpw9qt30kkaji6.initialize(options);zpw9qt30kkaji6.display(); } catch (e) {}};
          var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
          })(document, 'script');
        </script>
      </div>
    </div>
  </div>
</section>
