<section id="speakers">
  <div class="container">
    <div class="row">
      <h3 class="color-primary text-center text-thin no-tmg">Speakers</h3>
      <div class="spinner-page" ng-if="!loaded">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <ul class="list-unstyled speakers-grid">
        <li class="col-xs-6 col-sm-3 repeat-fade" ng-repeat="speaker in speakers | orderBy: 'LastName'">
          <a role="button" ng-click="setDialog()">
            <div class="box shadow-accent">
              <img ng-src="/images/speakers/{{ speaker.FirstName.toLowerCase() }}-{{ speaker.LastName.toLowerCase() }}.jpg" alt="{{ speaker.FirstName }} {{ speaker.LastName }}" class="img-responsive">
              <div class="caption">
                <h5>{{ speaker.FirstName }} {{ speaker.LastName }}</h5>
                <div class="details">
                  {{ speaker.JobTitle }}, {{ speaker.Company }}
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<speaker-expand></speaker-expand>
