<section id="sponsors">
  <div class="container">
    <div class="row">
      <h3 class="text-thin text-center color-primary no-tmg">Sponsors</h3>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2"><img src="/images/sponsors/sponsor-kochava.png" alt="Kochava" class="img-responsive center-block"></div>
      <div class="col-xs-12 col-sm-10">
        Kochava offers a unique, holistic and unbiased approach to mobile attribution analytics and optimization.  Via its platform, Kochava provides mobile advertisers with precise real-time visualization of campaign data that spans from initial launch through conversion and lifetime value (LTV) reporting, including comprehensive post-install event tracking.  Kochava’s tools enable customers to turn their data into actionable information.  Kochava is integrated with more than 1,200 publishers and is trusted by hundreds of brands globally including the biggest names in mobile gaming, news and media, and commerce.
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2"><img src="/images/sponsors/sponsor-rumble.png" alt="Rumble" class="img-responsive center-block"></div>
      <div class="col-xs-12 col-sm-10">

      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-2"><img src="/images/sponsors/sponsor-pocketmath.png" alt="pocketmath" class="img-responsive center-block"></div>
      <div class="col-xs-12 col-sm-10">

      </div>
    </div>
  </div>
</section>
