<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <h3 class="text-heading text-center">Sponsors</h3>
      <h4 class="text-center text-thin"><span>Platinum</span></h4>
      <ul class="list-unstyled">
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-baidusa.png" alt="Baidu" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-cheetah.png" alt="Cheetah Mobile" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-maxthon.png" alt="Maxthon" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-softlayer.png" alt="Softlayer" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-telerik.png" alt="Telerik" class="img-responsive"></div></li>
      </ul>
    </div>
  </div>
</section>
