<section class="img-heading bg-strip topics">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <p class="text-lead">Mobile technologies have transformed the business landscape giving companies the ability to connect with customers in powerful new ways. GMIC NYC will show you how to create a digital strategy that uses the latest mobile technologies to strengthen brand loyalty, deepen customer engagement, and produce measurable results.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center text-thin color-spacegrey">In New York we'll discuss...</h4>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-users fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Using Mobile to Deepen Customer Engagement</h4>
        <p class="text-center">The close bond mobile users have with their devices gives brands the chance to resonate emotionally with customers. But just getting your message heard among the thousands vying for consumer’s attention can be a huge challenge. At GMIC NYC you’ll get the inside scoop from brands that have figured out how to rise above the noise by creating groundbreaking customer experiences.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-puzzle-piece fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Transform the Customer Journey with an Omnichannel Approach</h4>
        <p class="text-center">Creating a truly personalized customer experience that seamlessly spans digital and brick-and-mortar is now possible. The journey might start on desktop, but an evolving and aspirational message winding its way through a customer’s day has tremendous guiding influence. Learn how to move beyond a multichannel strategy by mastering an omnichannel approach that elevates your customer experience to new heights.</p>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-line-chart fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Sand Hill Road to Wall Street: VC Perspectives</h4>
        <p class="text-center">Investors from Sand Hill Road to Wall Street are making more big bets on billion dollars ideas than ever before. Investors will square off on what makes a great startup, a great exit and a great public company. To be sure, creating an unbeatable customer experience is the key ingredient to success.</p>
      </div>
      <div class="clearfix visible-md-block visible-lg-block"></div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-map-marker fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Making Beacons Work for You</h4>
        <p class="text-center">Beacon triggered marketing is a relatively new but highly effective way to deliver the right message to the right customer at exactly the right time. Targeting moving customers with location technology promises to boost retail sales but also adds a layer of complexity to customer relationships. Join this panel session led by early adopters to discover potential ways beacons can help you monetize your mobile audience, increase engagement with mobile users and enhance the shopping experience.</p>
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-mobile fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Mobile Wallet: It's Not Just About Payments</h4>
        <p class="text-center">Mobile wallets can support exciting new functionality that could never be offered by a leather wallet—including automatic loyalty point redemptions and location-based marketing offers. Mobile wallets promise to transform much more than just payments: they provide a customizable platform for merchants and financial institutions to create richer customer experiences and foster deeper client engagement.</p>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-child fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Millennials: Participating in the Brand Experience</h4>
        <p class="text-center">This is truly the first generation to grow up completely online and as a result, the marketing mix used to target them needs to evolve. Millennials want to interact with brands, to co-create products and to participate in the brand experience. How do you best serve an autonomous, responsive, tech savvy population? These 80 million U.S. customers will soon have the most spending power and engaging them on mobile is a must.</p>
      </div>
      <div class="clearfix visible-sm-block"></div>
    </div>
  </div>
</section>
