<section class="img-heading bg-strip topics">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <p class="text-lead">Mobile technologies have transformed the business landscape giving companies the ability to connect with customers in powerful new ways. GMIC NY will show you how to create a digital strategy that uses the latest mobile technologies to strengthen brand loyalty, deepen customer engagement, and produce measurable results.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center text-thin color-spacegrey">In New York We'll Discuss...</h4>
      </div>
      <div class="spinner-page" ng-if="!loaded">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <span ng-repeat="topic in topics" class="repeat-fade">
        <div class="col-sm-6 col-md-4">
          <div class="text-center">
            <span class="fa-stack fa-2x" aria-hidden="true">
              <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
              <i class="fa fa-{{ topic.Icon }} fa-stack-1x color-spacegrey" aria-hidden="true"></i>
            </span>
          </div>
          <h4 class="text-center text-thin color-primary" ng-bind="topic.Title"></h4>
          <p class="text-center" ng-bind="topic.Desc"></p>
        </div>
        <div class="clearfix visible-sm-block" ng-if="$index % 2 == 1"></div>
        <div class="clearfix visible-md-block visible-lg-block" ng-if="$index % 3 == 2"></div>
      </span>
    </div>
  </div>
</section>
