<section class="img-heading bg-strip topics">
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-xs-12 text-center">
        <p class="text-lead">Mobile platforms and technologies present unique challenges and opportunities, overcoming these challenges and leveraging the opportunities are key to success.  The Customer Experience is taking center stage. Brands and agencies alike are quickly realigning their mobile strategies to capture the opportunity technologies have presented and leapfrog the competition.</p>
      </div>
    </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 class="text-center text-thin color-spacegrey">In New York we'll discuss...</h4>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-users fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Brands and Customer Engagement</h4>
        <p class="text-center">The mobile phone has intimate user knowledge and offers to brands the chance to resonate emotionally with customers. Customers know this, in part because thousands of brand messages vie for their attention daily, and it’s almost a task to stand guard. Hear from brands that have differentiated through mobile to craft identity, and learn about mobile platform behaviors to bolster your segmentation process.</p>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-puzzle-piece fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">All About Timing? Pieces to the Contextualization Puzzle</h4>
        <p class="text-center">Right message to the right person in the right place at the right time. No problem? The journey might start on desktop, but an evolving and aspirational message winding its way through a customer’s day has tremendous guiding influence. Move beyond a multichannel strategy by mastering an omnichannel approach where small improvements have disproportionate benefits.</p>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-line-chart fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Cross-Regional Investment Perspectives and the Customer’s Role</h4>
        <p class="text-center">Investors from Sand Hill Road to Wall Street are making big bets and anointing billion dollar ideas with greater frequency than years past. In this session, investors square off on what makes a great startup, a great exit, and a great public company. To be sure, an unbeatable customer experience on mobile is a common thread.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-map-marker fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Making Beacons Work for you</h4>
        <p class="text-center">Beacons are mixing up marketers’ sense of place. Targeting moving customers with location technology promises to boost retail sales but also adds a layer of complexity to customer relationships. With dropping prices, beacon technology could become commonplace, and customers will want to know they’re being looked out for.</p>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-globe fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Winning Customers in Asia</h4>
        <p class="text-center">Explore the opportunities and challenges of expanding in key regions in Asia, including China. Veteran speakers who have found success in Asia will present strategies for acquiring customers and building enthusiastic customer communities. The discussion will cover complexities of the Asian market and unique market opportunities for those that get it right.</p>
      </div>
      <div class="col-sm-4">
        <div class="text-center">
          <span class="fa-stack fa-2x" aria-hidden="true">
            <i class="fa fa-circle fa-stack-2x color-lightgrey" aria-hidden="true"></i>
            <i class="icon fa fa-child fa-stack-1x color-spacegrey" aria-hidden="true"></i>
          </span>
        </div>
        <h4 class="text-center color-accent">Millennial Wallets</h4>
        <p class="text-center">Whether time or behavior best marks the boundaries of a generation, it is clear the millennial’s have marked their place in the minds of marketers. How do you best serve an autonomous, responsive, tech savvy population? These 80 million U.S. customers that grew up computing will soon have the most spending power, and engaging them on mobile is a must. We’ll cover the new tech and techniques you need to stay a step ahead of this misrepresented, pragmatic bunch.</p>
      </div>
    </div>
  </div>
</section>
