<section id="stats" class="stats">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <i class="icon fa fa-users" aria-hidden="true"></i>
        <h3>Users</h3>
        <p class="text-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in enim sit amet elit vehicula tincidunt non quis risus. Duis in turpis eu tellus interdum venenatis id at felis. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
      </div>
      <div class="col-sm-4 text-center">
        <i class="icon fa fa-briefcase" aria-hidden="true"></i>
        <h3>Companies</h3>
        <p class="text-thin">Proin rutrum ex libero, a tempor nisi varius quis. Sed nisi justo, auctor vel elit sed, efficitur suscipit nunc. Curabitur eleifend ligula sed odio consectetur vehicula quis in neque. Cras odio sem, fermentum eu condimentum nec, interdum dignissim velit.</p>
      </div>
      <div class="col-sm-4 text-center">
        <i class="icon fa fa-globe" aria-hidden="true"></i>
        <h3>Countries</h3>
        <p class="text-thin">Mauris sit amet elit dignissim, luctus justo in, blandit eros. Proin egestas tortor non urna blandit viverra. Cras rhoncus sapien vel magna accumsan, eu elementum nunc placerat.</p>
      </div>
    </div>
  </div>
</section>
<section id="speakers" class="speakers">
  <div class="container">
    <div class="row">
      <h3 class="heading text-center">Speakers</h3>
      <ul class="list-unstyled">
        <li class="col-xs-6 col-sm-2-4">
          <a>
            <div class="box">
              <img src="images/speakers/bo-daly.jpg" alt="Bo Daly" class="img-responsive img-rounded">
              <div class="caption">
                <h5>Bo Daly</h5>
                <div class="details">CEO &amp; Co-Founder, Super Evil Megacorp</div>
              </div>
            </div>
          </a>
        </li>
        <li class="col-xs-6 col-sm-2-4">
          <a>
            <div class="box">
              <img src="images/speakers/dave-morin.jpg" alt="Dave Morin" class="img-responsive img-rounded">
              <div class="caption">
                <h5>Dave Morin</h5>
                <div class="details">CEO &amp; Co-Founder, Path</div>
              </div>
            </div>
          </a>
        </li>
        <li class="col-xs-6 col-sm-2-4">
          <a>
            <div class="box">
              <img src="images/speakers/tim-draper.jpg" alt="Tim Draper" class="img-responsive img-rounded">
              <div class="caption">
                <h5>Tim Draper</h5>
                <div class="details">Founding Partner, Draper Associates and DFJ</div>
              </div>
            </div>
          </a>
        </li>
        <li class="col-xs-6 col-sm-2-4">
          <a>
            <div class="box">
              <img src="images/speakers/yves-behar.jpg" alt="Yves Behar" class="img-responsive img-rounded">
              <div class="caption">
                <h5>Yves Behar</h5>
                <div class="details">Co-Founder &amp; CCO, August</div>
              </div>
            </div>
          </a>
        </li>
        <li class="col-xs-6 col-sm-2-4">
          <a>
            <div class="box">
              <img src="images/speakers/pavel-durov.jpg" alt="Pavel Durov" class="img-responsive img-rounded">
              <div class="caption">
                <h5>Pavel Durov</h5>
                <div class="details">Founder &amp; CEO, Telegram</div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<section id="sponsors" class="sponsors">
  <div class="container">
    <div class="row">
      <h3 class="heading text-center">Sponsors</h3>
      <h4 class="text-center text-thin"><span>Platinum</span></h4>
      <ul class="list-unstyled">
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-baidusa.png" alt="Baidu" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-cheetah.png" alt="Cheetah Mobile" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-maxthon.png" alt="Maxthon" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-softlayer.png" alt="Softlayer" class="img-responsive"></div></li>
        <li class="col-xs-6 col-sm-2-4"><div class="sponsor"><img src="images/sponsors/sponsor-telerik.png" alt="Telerik" class="img-responsive"></div></li>
      </ul>
    </div>
  </div>
</section>
