<section id="registration" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3 class="color-primary text-center text-thin no-tmg">Upcoming Events</h3>
      </div>
    </div>
  </div>
</section>
<section class="gmics text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <a href="http://tokyo.thegmic.com" onclick="ga('send','event','Outgoing Links','http://tokyo.thegmic.com')" target="_blank"><img src="images/gmics/gmic-tokyo.png" alt="Tokyo"><h5>Tokyo</h5><span class="text-thin">July 10, 2015</span></a>
      </div>
      <div class="col-sm-3">
        <a href="http://jakarta.thegmic.com" onclick="ga('send','event','Outgoing Links','http://jakarta.thegmic.com')" target="_blank"><img src="images/gmics/gmic-jakarta.png" alt="Jakarta"><h5>Jakarta</h5><span class="text-thin">August 11, 2015</span></a>
      </div>
      <div class="col-sm-3">
        <a href="http://bangalore.thegmic.com" onclick="ga('send','event','Outgoing Links','http://bangalore.thegmic.com')" target="_blank"><img src="images/gmics/gmic-bangalore.png" alt="Bangalore"><h5>Bangalore</h5><span class="text-thin">September 9-10, 2015</span></a>
      </div>
      <div class="col-sm-3">
        <a href="http://sv.thegmic.com" onclick="ga('send','event','Outgoing Links','http://sv.thegmic.com')" target="_blank"><img src="images/gmics/gmic-sv.png" alt="Silicon Valley"><h5>Silicon Valley</h5><span class="text-thin">September 28-30, 2015</span></a>
      </div>
      <div class="col-sm-3">
        <a href="#"><img src="images/gmics/gmic-saopaulo.png" alt="São Paulo"><h5>São Paulo</h5><span class="text-thin">November, 2015</span></a>
      </div>
      <div class="col-sm-3">
        <a href="http://taipei.thegmic.com" onclick="ga('send','event','Outgoing Links','http://taipei.thegmic.com')" target="_blank"><img src="images/gmics/gmic-taipei.png" alt="Taipei"><h5>Taipei</h5><span class="text-thin">December 15-16, 2015</span></a>
      </div>
    </div>
  </div>
</section>
